{% extends 'layout.twig' %}

{% block content %}

	<h2>Users</h2>
		<a href="{{ 'admin' | url }}" class="">Back to Dashboard</a>
		<br><br>
		<a href="{{ 'admin/users/create' | url }}" class="btn btn-primary">New User</a>
		<br><br>
			<table class="table bordered">
				<tr>
					<th>Name</th>
					<th>Email</th>
				
				</tr>


				{% for user in users %}
					<tr>
						<td>{{ user.name }}</td>
						<td>{{ user.email }}</td>
						
					</tr>
				{% endfor %}

			</table>

{% endblock %}